/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2020, 10:44:52 PM
    Author     : UMMAR MUHAMMAD
*/

body 
{
    background-color: cadetblue;
    text-decoration: goldenrod;
    color: black;
    font-family:cursive;
    font-size:small;
    font-weight: normal;
}