<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    
    <servlet>
        <servlet-name>ss</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.Servlets</servlet-class>
        <init-param>
            <param-name>param</param-name>
            <param-value>configuration used</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ss</servlet-name>
        <url-pattern>/Servlets</url-pattern>
    </servlet-mapping>
    
    <!--    <servlet>
        <servlet-name>um</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.Servlets.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>um</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>-->
        
    <!--    <servlet>
        <servlet-name>mr</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.SqServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mr</servlet-name>
        <url-pattern>/Sq</url-pattern>
    </servlet-mapping>-->
    
    <servlet>
        <servlet-name>mu</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.SubServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mu</servlet-name>
        <url-pattern>/Sub</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ha</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.OddEvenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ha</servlet-name>
        <url-pattern>/OddEven</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>mm</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.ModServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mm</servlet-name>
        <url-pattern>/Mod</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ad</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.ModSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ad</servlet-name>
        <url-pattern>/ModSession</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>dd</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.ModCookiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dd</servlet-name>
        <url-pattern>/ModCookie</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>filterS</servlet-name>
        <servlet-class>com.mycompany.webapp_umr.filterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>filterS</servlet-name>
        <url-pattern>/jsp2servlet</url-pattern>
    </servlet-mapping>
    
<!--    <filter>
        <filter-name>ITFilter</filter-name>
        <filter-class>com.mycompany.webapp_umr.ITFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ITFilter</filter-name>
        <servlet-name>filterS</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ITFilter</filter-name>
        <url-pattern>/jsp2servlet</url-pattern>
    </filter-mapping>-->
    
    <context-param>
        <param-name>param</param-name>
        <param-value>context used</param-value>
    </context-param>
    <context-param>
        <param-name>credits</param-name>
        <param-value>60</param-value>
    </context-param>
   
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
